html{
    box-sizing: border-box;
    font-size:100%;
    overflow-x:hidden
}
*,*::before,*::after{
    box-sizing:inherit;
}
body{
    margin:0;
    padding:0;
    background-color: black;
    color: white;
}
#map{
    padding: 2vh;
    height: 85vh;
    top: -12vh;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Slackey', cursive;
    text-align: centre;
    font-size: 2rem;
    left:20vh;
    position: relative;
    top:-12vh;
}
img{
    height:13vh;
}
